.profile{
    justify-content:center;
    color: rgb(113, 122, 157);
}
.profile img{
    width: 100%;
    border-radius: 100%;
    padding: 2%;
}
.row{
    margin: 0;
}
@media only screen and (max-width: 991.5px) {
    .profile{
        display: flex;
        justify-content: center;
    }
    .profile img{
        width: 40%;
    }
    .datos-user{
        margin-top: 5%;
    }
}