.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    width: 450px;
    max-width: 90vw;
    padding: 5% 5% 10% 5%;
}

.profile img {
    width: 50%;
    border-radius: 100%;
}

.contenido-profile {
    margin-top: 5%;
}

.contenido-profile p {
    margin: 15px 0 0 0;
}

.contenido-profile a {
    color: white;
    text-decoration: none;
}

