.tasks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tasks-container {
    padding: 5%;
    width: 100%;
    color: rgb(193, 198, 213);
}

.container-superior {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-box {
    background-color: rgb(12, 34, 58);
    border-radius: 15px;
    padding: 15px;
}

.tasks ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tareas-individuales {
    display: flex;
    align-items: center;
}

.tareas-individuales>div {
    padding: 0 1rem;
}

.task-box i {
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.tasks-container li {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0.7rem;
}

.tasks-container button {
    display: inline-block;
    padding: 0.5rem 0rem;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    min-width: 50px;
}

.tasks-container ul {
    padding: 0;
    margin-bottom: 3px;
}

.tasks-container ul>li:nth-child(2n + 1) {
    background-color: rgb(12, 31, 58);

}

.tasks-container ul>li:nth-child(2n + 2) {
    background-color: rgb(10, 25, 47);
}

.tasks .btn-new {
    padding: 5px 15px !important;
    height: min-content;
}

.tasks .bi-card-text {
    margin-right: 20px !important;
}
.carging{
    align-items: center;
}
.carging p{
    font-size: 30px;
    margin:  0 0 0 5px;
}
.loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}