.task-container-superior{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.cards{
    margin-top: 7px;
    padding: 2%;
}
.cards ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.carga{
    display: flex;
}
.carga p{
    font-size: 20px;
    margin-left: 10px;
}
.cards li:nth-child(2n + 1){
    background-color: rgb(14,39, 67);
}
.cards li:nth-child(2n + 2){
    background-color: #2a2a40;
}
.dropdown-item.active, .dropdown-item:hover {
    background-color:rgb(193,198,213) !important;
  }
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}