.tasks{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tasks-container{
    padding: 5%;
    border-radius: 15px;
    width: max-content;
    background-color: rgb(16,38,71);
    color: white;
}
.custom-btn {
    color: rgb(34, 207, 208)!important;
    border-color: rgb(34, 207, 208)!important;
    margin-bottom: 5px;
}

.custom-btn:hover {
    background-color: rgb(15, 41, 53)!important;
    color: rgb(34, 207, 208)!important;
    border-color: rgb(19, 158, 159)!important;
}
.custom-btn:active {
    background-color: rgb(23, 62, 81) !important;
    color: rgb(34, 207, 208)!important;
}