.sidebar{
    background-color: black;
    color: rgb(113, 122, 157);
    width: max-content;
    font-size: 25px;
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 40px;
}
.sidebar li{
    display: flex;
    margin-bottom: 20px;
    transform: scale(0.95);
    transition: 1s;
}
.sidebar li:hover{
    transform: scale(1);
}
.sidebar li:active{
    transform: scale(0.95);
}
.sidebar .menu{
    color: white;
}
.sidebar li:hover{
    color: rgb(27, 174, 156);
    text-decoration: underline ;
    text-underline-offset: 1em;
    cursor: pointer;
}
.sidebar p{
    margin: 0 0 0 15px;
}
@media only screen and (max-width: 900px) {
    .sidebar p{
        display: none;
    }
    .sidebar li{
        justify-content: center;
    }
}
@media only screen and (max-width: 550px) {
    .sidebar{
        width: 100%;
    }
    .sidebar ul{
        display: flex;
        padding: 30px 40px;
    }
    .sidebar li{
        display: block;
        margin: 0;
        margin-right: 30px;
    }
    .sidebar i{
        font-size: 30px;
    }
}